In [3]:
import pandas as pd
data = pd.read_csv('skupovi_podataka/diamonds.csv')
data.head()

   id  carat      cut color clarity  depth  table  price     x     y     z
0   1   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   2   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   3   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   4   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   5   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75

In [4]:
categoric_columns = ['cut', 'color', 'clarity']

for column in categoric_columns:
  data[column] = data[column].astype('category').cat.codes

In [5]:
data.head()

   id  carat  cut  color  clarity  depth  table  price     x     y     z
0   1   0.23    2      1        3   61.5   55.0    326  3.95  3.98  2.43
1   2   0.21    3      1        2   59.8   61.0    326  3.89  3.84  2.31
2   3   0.23    1      1        4   56.9   65.0    327  4.05  4.07  2.31
3   4   0.29    3      5        5   62.4   58.0    334  4.20  4.23  2.63
4   5   0.31    1      6        3   63.3   58.0    335  4.34  4.35  2.75

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data[['price', 'table', 'carat', 'cut', 'color', 'clarity', 'depth', 'x', 'y', 'z']],
                                                    data['price'], test_size=0.2, random_state=3)
X_train.head()

       price  table  carat  cut  color  clarity  depth     x     y     z
10615   4829   58.0   1.01    3      2        2   60.3  6.53  6.61  3.96
49830   2167   58.0   0.56    3      1        5   59.9  5.37  5.34  3.21
17108   6822   63.0   1.00    1      1        4   60.6  6.28  6.42  3.85
40704   1158   55.0   0.40    2      1        7   61.8  4.74  4.78  2.94
11218   4961   59.0   0.93    3      2        5   62.1  6.24  6.28  3.89

In [7]:
# K-Means klasteriranje - pronalazi grupe sličnih podataka (klastere), ali unaprijed moramo definirat broj klastera.
# Npr. DBSCAN sam pronalazi koliko klastera ima.
# Čitanje: https://towardsdatascience.com/understanding-k-means-clustering-in-machine-learning-6a6e67336aa1
# Dobar primjer: https://static.javatpoint.com/tutorial/machine-learning/images/k-means-clustering-algorithm-in-machine-learning.png

from sklearn.cluster import KMeans
model = KMeans(n_clusters=3) # Sami odredimo koliko bi klastera "moglo" biti.
model.fit(X_train) # Standardno treniramo model na trening podacima

sve_predikcije = model.predict(X_test) # Odredi u koji klaster spadaju uzroci iz testnog skupa
sve_predikcije

array([0, 2, 2, ..., 0, 0, 2])

In [ ]:
import numpy as np
trening_predikcije = model.predict(X_train)
sve_predikcije = np.append(sve_predikcije, trening_predikcije)